{% extends 'base.html.twig' %}


{% block body %}
<h3>Information de l'instituteur</h3>
<ul>

    <li>Prénom : {{ teacher.firstname }}</li>
    <li>Nom : {{ teacher.lastname }}</li>
    {# <li>Mail :{{ teacher.mail }}</li> #}
    
    </li>
</ul>
{% endblock %}